.dashboardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: 67%;
    margin: 0 auto;
    gap: 20px;
    padding: 20px 0 20px 0;
}

.startSessionButton {
    background-color: var(--pink);
    color: var(--orange-cream);
    border: none;
    border-radius: 12px;
    height: 120px;
    width: 100%;
    font-size: 32px;
    font-family: var(--heading-text);
    letter-spacing: 0.05em;
    font-weight: bold;
    cursor: pointer;
}

.dashboardCards {
    display: flex;
    gap: 20px;
    width: 100%;
}