body {
  font-family: Verdana;
  margin: 0px 0px;
  background-color: var(--dark-purple);
  color: white;
  overflow: hidden; /* no scrollbars on a desktop app */

}

:root {
  --dark-purple: #170B13;
  --orange-cream: #F3E5D8;
  --pink: #CE6C81;
  --orange-cream-50: #f3e5d885;
  --body-text: 'Red Hat Text';
  --heading-text: 'Fustat';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
